In [1]:
import pandas as pd
import numpy as np
import os
import datetime

In [2]:
# CSV file
csvfile = "Resources/hawaii_measurements.csv"
csvfile_2 = "Resources/hawaii_stations.csv"

In [3]:
dataframe_HM = pd.read_csv(csvfile,dtype = object)
dataframe_HM.dropna(axis = 0)

           station        date  prcp tobs
0      USC00519397  2010-01-01  0.08   65
1      USC00519397  2010-01-02     0   63
2      USC00519397  2010-01-03     0   74
3      USC00519397  2010-01-04     0   76
5      USC00519397  2010-01-07  0.06   70
6      USC00519397  2010-01-08     0   64
7      USC00519397  2010-01-09     0   68
8      USC00519397  2010-01-10     0   73
9      USC00519397  2010-01-11  0.01   64
10     USC00519397  2010-01-12     0   61
11     USC00519397  2010-01-14     0   66
12     USC00519397  2010-01-15     0   65
13     USC00519397  2010-01-16     0   68
14     USC00519397  2010-01-17     0   64
15     USC00519397  2010-01-18     0   72
16     USC00519397  2010-01-19     0   66
17     USC00519397  2010-01-20     0   66
18     USC00519397  2010-01-21     0   69
19     USC00519397  2010-01-22     0   67
20     USC00519397  2010-01-23     0   67
21     USC00519397  2010-01-24  0.01   71
22     USC00519397  2010-01-25     0   67
23     USC00519397  2010-01-26  0.04   76
24     USC00519397  2010-01-27  0.12   68
25     USC00519397  2010-01-28     0   72
27     USC00519397  2010-01-31  0.03   67
28     USC00519397  2010-02-01  0.01   66
30     USC00519397  2010-02-04  0.01   69
31     USC00519397  2010-02-05     0   67
32     USC00519397  2010-02-06     0   67
...            ...         ...   ...  ...
19513  USC00516128  2017-07-17  0.39   72
19514  USC00516128  2017-07-18   2.4   77
19515  USC00516128  2017-07-19  0.27   74
19516  USC00516128  2017-07-20   0.7   75
19517  USC00516128  2017-07-21   0.1   72
19518  USC00516128  2017-07-22     4   72
19519  USC00516128  2017-07-23   0.8   78
19520  USC00516128  2017-07-24  0.84   77
19521  USC00516128  2017-07-25   0.3   79
19522  USC00516128  2017-07-26   0.3   73
19523  USC00516128  2017-07-27     0   75
19524  USC00516128  2017-07-28   0.4   73
19525  USC00516128  2017-07-29   0.3   77
19526  USC00516128  2017-07-30   0.3   79
19527  USC00516128  2017-07-31     0   74
19529  USC00516128  2017-08-02  0.25   80
19530  USC00516128  2017-08-03  0.06   76
19533  USC00516128  2017-08-07  0.05   78
19534  USC00516128  2017-08-08  0.34   74
19535  USC00516128  2017-08-09  0.15   71
19536  USC00516128  2017-08-10  0.07   75
19538  USC00516128  2017-08-12  0.14   74
19540  USC00516128  2017-08-14  0.22   79
19541  USC00516128  2017-08-15  0.42   70
19542  USC00516128  2017-08-16  0.42   71
19543  USC00516128  2017-08-17  0.13   72
19545  USC00516128  2017-08-19  0.09   71
19547  USC00516128  2017-08-21  0.56   76
19548  USC00516128  2017-08-22   0.5   76
19549  USC00516128  2017-08-23  0.45   76

[18103 rows x 4 columns]

In [4]:
#datetime.strptime(dataframe_HM['date'],'%Y-%m-%d')
date = [i for i in dataframe_HM['date']]
dates = []
for i in date:
    dates.append((datetime.datetime.strptime(i,'%Y-%m-%d')).date())

In [5]:
dataframe_HM.drop(['date'], axis = 1, inplace = True)

In [6]:
dataframe_HM['date'] = dates

In [7]:
dataframe_HM['date'].values[0]

datetime.date(2010, 1, 1)

In [10]:
dataframe_HM['date'].values[0]

datetime.date(2010, 1, 1)

In [11]:
dataframe_HS = pd.read_csv(csvfile_2,dtype = object)
dataframe_HS.dropna(axis = 0)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.3152,-157.9992,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4

In [13]:
clean_data_1 = "cleaned_Hawaii_Measurements.csv"
clean_data_2 = "cleaned_Hawaii_Stations.csv"
dataframe_HM.to_csv(clean_data_1, index=False)
dataframe_HS.to_csv(clean_data_2, index=False)